# .env.example

# If you do not have a .env file, use this file as a template and modify as necessary.
# DO NOT SAVE environment-specific settings in this file. Only generics should appear here.

BASE_URL=http://localhost:3000 # The base API url
CLIENT_ID=SOME_CLIENT # The client credentials grant id
CLIENT_SECRET=SOME_SECRET # The OIDC client credentials grant secret
MAX_VU=10 # The maximum number of virtual users to run
RAMP_DOWN_TIME=5s # The amount of time to ramp down to 0 VU
RAMP_UP_TIME=5s # The amount of time to ramp up to MAX_VU
SUSTAIN_TIME=20s # The amount of time to sustain MAX_VU
TOKEN_ENDPOINT=SOME_ENDPOINT # The OIDC token endpoint
