name: Manage Core Infra

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment (dev, test, prod) to act on. BE CAREFUL HERE!'
        required: true
        default: test # TODO: Set default to dev when we have our real environments
        type: choice
        options:
          # - dev # TODO: Uncomment when we have our real environments
          - test
          # - prod # TODO: Uncomment when we have our real environments
      manage_action:
        description: 'The management action to perform on the core infrastructure.'
        required: true
        default: plan
        type: choice
        options:
          - refresh
          - plan
          - apply
          - destroy

jobs:
  infra:
    name: Core Infra ${{ github.event.inputs.manage_action }}
    concurrency:
      group: core-infra-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false # Do not interrupt terraform deployments
    uses: ./.github/workflows/.core-deployer.yaml
    permissions:
      contents: write # This is required for actions/checkout
      id-token: write # This is required for requesting the JWT
    secrets: inherit
    with:
      command: ${{ github.event.inputs.manage_action }}
      environment: ${{ github.event.inputs.environment }}
