name: Manage Instance Infra

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment (dev, test, prod) to act on. BE CAREFUL HERE!'
        required: true
        default: dev
        type: choice
        options:
          - dev
          - test
          - prod
      manage_action:
        description: 'The management action to perform on the core infrastructure.'
        required: true
        default: plan
        type: choice
        options:
          - refresh
          - plan
          - apply
          - destroy

jobs:
  gate:
    name: Gate to ${{ github.event.inputs.manage_action }} ${{ github.event.inputs.environment }}
    environment:
      name: gate-${{ github.event.inputs.environment }}
    concurrency:
      group: gate-infra-${{ github.event.inputs.environment }}-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: true # Allows newer job instances to take precedence
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Log Gate
        run: echo "Proceeding to ${{ github.event.inputs.manage_action }} ${{ github.event.inputs.environment }}..."

  infra:
    name: Instance Infra ${{ github.event.inputs.manage_action }}
    needs: gate
    concurrency:
      group: instance-infra-${{ github.event.inputs.environment }}-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false # Do not interrupt terraform deployments
    uses: ./.github/workflows/.instance-deployer.yaml
    permissions:
      contents: write # This is required for actions/checkout
      id-token: write # This is required for requesting the JWT
    secrets: inherit
    with:
      command: ${{ github.event.inputs.manage_action }}
      environment: ${{ github.event.inputs.environment }}
      tag: ${{ github.sha }}
