name: Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - closed
      - labeled
      - opened
      - reopened
      - synchronize
      - unlabeled

jobs:
  apply:
    name: Deploy Instance
    if: github.event.pull_request.state == 'open' && contains(github.event.pull_request.labels.*.name, 'deploy')
    concurrency:
      group: deploy-pr-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false # Do not interrupt terraform deployments
    uses: ./.github/workflows/.instance-deployer.yaml
    permissions:
      contents: write # This is required for actions/checkout
      id-token: write # This is required for requesting the JWT
    secrets:
      AUTH_ISSUER: ${{ secrets.AUTH_ISSUER }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      VNET_RESOURCE_GROUP_NAME: ${{ secrets.VNET_RESOURCE_GROUP_NAME }}
      VNET_NAME: ${{ secrets.VNET_NAME }}
    with:
      command: apply
      environment: dev
      tag: ${{ github.event.pull_request.head.sha }}

  destroy:
    name: Destroy Instance
    if: github.event.pull_request.state == 'closed' || github.event.action == 'unlabeled' && github.event.label.name == 'deploy'
    concurrency:
      group: deploy-pr-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false # Do not interrupt terraform deployments
    uses: ./.github/workflows/.instance-deployer.yaml
    permissions:
      contents: write # This is required for actions/checkout
      id-token: write # This is required for requesting the JWT
    secrets:
      AUTH_ISSUER: ${{ secrets.AUTH_ISSUER }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      VNET_RESOURCE_GROUP_NAME: ${{ secrets.VNET_RESOURCE_GROUP_NAME }}
      VNET_NAME: ${{ secrets.VNET_NAME }}
    with:
      command: destroy
      environment: dev
      tag: ${{ github.sha }}
