name: Push

on:
  push:
    branches:
      - '**'
    tags:
      - v*.*.*
  release:
    types:
      - published

jobs:
  build-push:
    name: Build & Push
    concurrency:
      group: build-push-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: true
    uses: ./.github/workflows/.builder.yaml
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
    secrets: inherit

  deploy-dev:
    name: Deploy to Dev
    needs: build-push
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    concurrency:
      group: deploy-dev-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false # Do not interrupt terraform deployments
    uses: ./.github/workflows/.instance-deployer.yaml
    permissions:
      contents: write
      id-token: write
    secrets: inherit
    with:
      command: apply
      environment: dev
      tag: ${{ github.sha }}

  gate-test:
    name: Gate to Test
    environment:
      name: gate-test
    needs: deploy-dev
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    concurrency:
      group: gate-test-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: true # Allows newer job instances to take precedence
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Log Gate
        run: echo "Proceeding to apply test..."

  deploy-test:
    name: Deploy to Test
    needs: gate-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    concurrency:
      group: deploy-test-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false # Do not interrupt terraform deployments
    uses: ./.github/workflows/.instance-deployer.yaml
    permissions:
      contents: write
      id-token: write
    secrets: inherit
    with:
      command: apply
      environment: test
      tag: ${{ github.sha }}

  gate-prod:
    name: Gate to Prod
    environment:
      name: gate-prod
    needs: deploy-test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    concurrency:
      group: gate-prod-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: true # Allows newer job instances to take precedence
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Log Gate
        run: echo "Proceeding to apply prod..."

  deploy-prod:
    name: Deploy to Prod
    needs: gate-prod
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    concurrency:
      group: deploy-prod-${{ github.workflow }}-${{ github.ref_name }}
      cancel-in-progress: false # Do not interrupt terraform deployments
    uses: ./.github/workflows/.instance-deployer.yaml
    permissions:
      contents: write
      id-token: write
    secrets: inherit
    with:
      command: apply
      environment: prod
      tag: ${{ github.sha }}
